
html{
    box-sizing: border-box;
    font-size: 62.5%; /*1 rem = 10 pixeles*/
}

*,*:before, *:after {
        box-sizing: inherit;
}

/*Definimos la fuente del proyecto*/
body{
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    line-height: 2; /*interlineado de un texto*/
}

/**Selectores Globales**/

h1, h2, h3 {
    font-family: "Playfair Display SC", serif;
    margin: 0 0 2rem 0;
}

h1{
    font-size: 4.5rem;
}

@media (max-width: 768px){
    h1{
        font-size: 5rem;
    }
}

h2{
    font-size: 3.5rem;
}

@media (min-width: 768px){
    h2{
        font-size: 4rem;
    } 
}

h3 {
  font-size: 2.5rem;  
}

@media (min-width: 768px){
    h3 {
        font-size: 3rem;  
    }
}

a {
    text-decoration:none;
    color: #000;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

img{
    max-width: 100%;
    display: block;
}

.boton{
    background-color: #8cbc00;
    display: block;
    color: #fff;
    text-transform:uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: background-color 0.9s ease-out;
    text-align: center;
    border: none;
}

.boton:hover{
    background-color: #769c02;
    cursor: pointer;
}


/*Utilizades*/

.text-center{
    text-align: center;
}

.max-width-30{
    max-width: 30rem;
}

/**Header y navegacion**/

.nombre-sitio{
    margin-top:5rem;
    text-align:center;
}

.nombre-sitio span {
    color:#8B63F8;
    
}

.nombre-sitio span:hover{
    color:#5E27F5; 
    
}

.contenedor-nav{
    border-top: 0.3rem solid #e1e1e1;
    
}

.navegacion-principal{
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    transition:  1s ease-out;
}

.navegacion-principal a:hover{
    background-color:#8B63F8; 
    color:#ffffff;
}

@media (min-width: 768px){
    .navegacion-principal{
        padding: 2rem 0;
        justify-content: space-between;
        flex-direction: row;
    }
}

.hero{/**imagen de la navegacion principal*/
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height:25rem;
}

@media (min-width: 768px){
    .hero{/**imagen de la navegacion principal*/
        height:55rem;
    }  
}
/**categorias*/

.categorias{
    padding:5rem 0;
}
.categoria{
    margin-bottom: 2rem;
}

@media (min-width: 768px){
    .categoria{
        margin-bottom: 0;
    }
}

.categoria img{
    width: 100%;
}

.categoria a{
    text-align: center;
    display: block;
    padding: 2rem;
    font-size: 2rem;
    transition: 1s ease-out;
}

.categoria a:hover{
    background-color: #8B63F8;
    color:#ffffff;
    border-bottom-right-radius: 2rem;
}

@media (min-width: 768px){
    .listado-categorias{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        gap:2rem; 
    }  
}

/**bloque nosotros*/
.sobre-nosotros{ /*funcion para hacer un degradado*/
    /*background-image: linear-gradient(to right, black 50%, red 100%);*/
    background-image: linear-gradient(to bottom, transparent 50%, #8B63F8 50%, #5E27F5 100% ), url(../img/nosotros.jpg);
    background-position: center, top left;
    background-repeat: no-repeat;
    background-size: 100%, 70rem;
}
@media (min-width: 760px){
    .sobre-nosotros{ /*funcion para hacer un degradado*/
        /*background-image: linear-gradient(to right, black 50%, red 100%);*/
        background-image: linear-gradient(to right, transparent 50%, #8B63F8 50%, #5E27F5 100% ), url(../img/nosotros.jpg);
        background-position:left center;
        background-size: 100%, 90rem;
    } 
}

.sobre-nosotros-grid{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    /*display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 8rem;
    /*no se utiliza padding con los grid, se maneja con los gap*/
}

@media (min-width: 768px){
    .sobre-nosotros-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: unset;
        column-gap: 10rem;
    }   
}

.nosotros-texto{
    grid-row: 2/3;
    color: #fff;
    padding: 5rem;
}

@media (min-width: 768px){
    .nosotros-texto{
        grid-column: 2/3;
    }
}

/**Listado de productos */

.contenido-principal{
    padding-top: 5rem; 
    
}
/**Seccion nuestros productos**/

@media (min-width: 768px){
    .listado-productos{
        display: grid;
        grid-template-columns: repeat(6,  1fr);
        column-gap: 2rem;
        row-gap: 2rem;
    }

    .producto:nth-child(1){
        grid-column-start: 1;
        grid-column-end: 7;
        display:grid;
        grid-template-columns: 3fr 1fr;      
    }

    .producto:nth-child(1) img{
        height: 43rem;
        width: 100%;
        object-fit: cover; /*con object-fit mantenemos nuestra img dentro sin revasar las medidas*/
    }

    .producto:nth-child(2){
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .producto:nth-child(2) img,
    .producto:nth-child(3) img{
        height: 30rem;
        width: 100%;
        object-fit: cover;
    }

    .producto:nth-child(3){
        grid-column-start: 4;
        grid-column-end: 7;
    }

    .producto:nth-child(4){
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .producto:nth-child(5){
        grid-column-start: 3;
        grid-column-end: 5;
    }
    .producto:nth-child(6){
        grid-column-start: 5;
        grid-column-end: 7;
    }
}

.producto{
    background-color: #8B63F8;
    margin-bottom: 2rem;
}

@media (min-width: 768px){
      .producto{
        margin-bottom: 0;
      }
}

.producto:last-of-type{
    margin-bottom: 0;
}

.texto-producto{
    text-align: center;
    color: #fff;
    padding: 2rem;
}

.texto-producto h3{
    margin: 0;
}

.texto-producto p{
    margin: 0 0 .5rem 0;
}

.texto-producto .precio{
    font-size: 2.8rem;
    font-weight: 900;
}

/*Footer*/

.site-footer{
    border-top: 3px solid #e1e1e1;
    margin-top: 5rem;;
    padding: 5rem;

}

.site-footer h3{
    margin-bottom: .5rem;
    padding-left: 8rem;
}
@media (min-width: 768px){
    .footer-grid{
        display: grid;
        grid-template-columns:repeat(3, 1fr);
    }
}

.menu-footer a{
    display: block;
    padding-left: 8rem;
}

.copyright{
    margin-top: 5rem;
    text-align: center;
}

/*Página nosotros*/

.info-nosotros{
    padding: 5rem;
}

@media (min-width: 768px){
   .contenido-nosotros{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-columns: repeat(auto-fit, minmax (25rem, 1fr));
        column-gap: 4rem;
    }

    .info-nosotros{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }   
}

/*Página blog*/

@media (min-width: 768px){
    .contenedor-blog{
        display: grid;
        grid-template-columns: 2fr 1fr;   
    } 
}

.entrada,
.entrada-blog-b{
    background-color: #F2F2F2;
    padding: 5rem;
    margin: 2rem;
    border-radius: 0.8rem;
    border-bottom: 10px solid #8B63F8;
}

@media (min-width: 768px){
    .entrada-meta{
        display: flex;
        justify-content: space-between;
    }
}

.entrada-meta p{
    font-weight: 900;
}

.entrada-meta span{
    font-style:italic;
    color:#5E27F5
}

/*Pagina contenido entrada*/
.contenido-entrada-blog{
    width: 80rem;
    margin: 0 auto;
    background-color: #fff;
}

/*pagina galería*/

.galeria{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

}

.galeria img{
    height: 40rem;
    width: 40rem;
    object-fit: cover;
}

/*Página contacto - formulario*/

.formulario{
    max-width: 60rem;
    margin: 0 auto; /*para que el contenido este centrado*/

}

.formulario fieldset{
    border: 2px solid black;
    margin-bottom: 2rem;
}

.formulario legend{
    background-color: #8B63F8;
    width: 100%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    margin-bottom: 4rem;
}

.campo{
    display: flex;
    margin-bottom: 2rem;

}

.campo label{
flex-basis: 10rem;
}

.campo input:not([type="radio"]), 
.campo select, 
.campo textarea{
    flex: 1;
    border: 1px solid #e1e1e1;
    padding: 1rem;
}









/*.footer-grid{
    display: flex;
    gap: 4rem;
}

.footer-grid div{
    flex: 1;
}

.footer-grid div.producto:nth-child(2){
    flex:3
}*/


/**/



































/*h1{
    font-size: 20px ;
    color: #000;
}

h1 span{
    color: #037bc0;
}


.navegacion {
    background-color: #e1e1e1;

}

.navegacion a {
    text-transform: uppercase;
}

.enlace {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #037bc0;
}

/**DIFERENTES ESTILOS PARA ESCRIBIR CSS 
/** Modulos, BEM, SMACC

→→→ DISPLAY INLINE Y BLOCK ←←←

p{
    background-color:red;
    width: 500px;
    height: 100px;
}

//se agrega el →display: block; para que el enlace se comvierte el parrafo 
→NOTA → a un inlane no se le puede aplicar un width y un height
a{
    background-color:red;
    width: 500px;
    height: 100px;
    display: block;
}
/**Box Model

.sobre-nosotros {
    background-color: red;
    width:200px;
    padding: 25px; 
    box-sizing: border-box;
}
*/

