
html{
    box-sizing: border-box;
    font-size: 62.5%; /*1 rem = 10 pixeles*/
}

*,*:before, *:after {
        box-sizing: inherit;
}

/*Definimos la fuente del proyecto*/
body{
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    line-height: 2; /*interlineado de un texto*/
}

/**Selectores Globales**/

h1, h2, h3 {
    font-family: "Playfair Display SC", serif;
    margin: 0 0 5rem 0;
}

h1{
    font-size: 5rem;
}

h2{
    font-size: 3rem;
}

h3 {
  font-size: 3rem;  
}

a {
    text-decoration:none;
    color: #000;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

img{
    max-width: 100%;
    display: block;
}

.boton{
    background-color: #8cbc00;
    display: block;
    color: #fff;
    text-transform:uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: background-color 0.9s ease-out;
    text-align: center;
}

.boton:hover{
    background-color: #769c02;
}


/*Utilizades*/

.text-center{
    text-align: center;
}

.max-width-30{
    max-width: 30rem;
}

/**Header y navegacion**/

.nombre-sitio{
    margin-top:5rem;
    text-align:center;
}

.nombre-sitio span {
    color:#8B63F8;
    
}

.nombre-sitio span:hover{
    color:#5E27F5; 
    
}

.contenedor-nav{
    border-top: .3rem solid #e1e1e1;
    
}

.navegacion-principal{
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    transition: background-color 1s ease-out;
}

.navegacion-principal a:hover{
    background-color:#8B63F8; 
    color:#ffffff;
    
    
}

.hero{/**imagen de la navegacion principal*/
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height:55rem;
}


/**categorias*/

.categorias{
    padding-top:5rem;
}


.categoria a{
    text-align: center;
    display: block;
    padding: 2rem;
    font-size: 2rem;
    transition: background-color 1s ease-out;
}

.categoria a:hover{
    background-color: #8B63F8;
    color:#ffffff;
    border-bottom-right-radius: 2rem;
}

.listado-categorias{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:2rem; 
   
}

/**bloque nosotros*/
.sobre-nosotros{ /*funcion para hacer un degradado*/
    /*background-image: linear-gradient(to right, black 50%, red 100%);*/
    background-image: linear-gradient(to right, transparent 50%, #8B63F8 50%, #5E27F5 100% ), url(../img/nosotros.jpg);
    background-position: left center;
    padding: 4rem 0;
    background-repeat: no-repeat;
    background-size: 100%, 80rem;
}

.sobre-nosotros-grid{

    display: flex;
    justify-content: flex-end;

    /*display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 8rem;
    /*no se utiliza padding con los grid, se maneja con los gap*/
    
}

.nosotros-texto{
    flex-basis: 50%;
    padding-left: 10rem;
    color: #fff;
}

/**Listado de productos */

.contenido-principal{
    padding-top: 5rem;
    
    
    
}
/**Seccion nuestros productos**/
.listado-productos{
    display: grid;
    grid-template-columns: repeat(6,  1fr);
    column-gap: 2rem;
    row-gap: 2rem;
}

.producto:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 7;
    display:grid;
    grid-template-columns: 3fr 1fr;
    
}

.producto:nth-child(1) img{
    height: 43rem;
    width: 100%;
    object-fit: cover; /*con object-fit mantenemos nuestra img dentro sin revasar las medidas*/
}

.producto:nth-child(2){
    grid-column-start: 1;
    grid-column-end: 4;
}

.producto:nth-child(2) img,
.producto:nth-child(3) img{
    height: 30rem;
    width: 100%;
    object-fit: cover;
}

.producto:nth-child(3){
    grid-column-start: 4;
    grid-column-end: 7;
}

.producto:nth-child(4){
    grid-column-start: 1;
    grid-column-end: 3;
}
.producto:nth-child(5){
    grid-column-start: 3;
    grid-column-end: 5;
}
.producto:nth-child(6){
    grid-column-start: 5;
    grid-column-end: 7;
}
.producto{
    background-color: #8B63F8;

}

.texto-producto{
    text-align: center;
    color: #fff;
    padding: 2rem;
}

.texto-producto h3{
    margin: 0;
}

.texto-producto p{
    margin: 0 0 .5rem 0;
}

.texto-producto .precio{
    font-size: 2.8rem;
    font-weight: 900;
}

/*Footer*/

.site-footer{
    border-top: 3px solid #e1e1e1;
    margin-top: 5rem;;
    padding: 5rem;

}

.site-footer h3{
    margin-bottom: .5rem;
    padding-left: 8rem;
}

.footer-grid{
    display: grid;
    grid-template-columns:repeat(3, 1fr);

    

}

.menu-footer a{
    display: block;
    padding-left: 8rem;

}

.copyright{
    margin-top: 5rem;
    text-align: center;
}

/*Página nosotros*/

.contenido-nosotros{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-columns: repeat(auto-fit, minmax (25rem, 1fr));
    column-gap: 4rem;
}

.info-nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/*Página blog*/

.contenedor-blog{
    display: grid;
    grid-template-columns: 2fr 1fr;
    
}


.entrada,
.entrada-blog-b{
    background-color: #F2F2F2;
    padding: 5rem;
    margin: 2rem;
    border-radius: 0.8rem;
    border-bottom: 10px solid #8B63F8;
}

.entrada-meta{
    display: flex;
    justify-content: space-between;
}

.entrada-meta p{
    font-weight: 900;
}

.entrada-meta span{
    font-style:italic;
    color:#5E27F5
}








/*.footer-grid{
    display: flex;
    gap: 4rem;
}

.footer-grid div{
    flex: 1;
}

.footer-grid div.producto:nth-child(2){
    flex:3
}*/


/**/



































/*h1{
    font-size: 20px ;
    color: #000;
}

h1 span{
    color: #037bc0;
}


.navegacion {
    background-color: #e1e1e1;

}

.navegacion a {
    text-transform: uppercase;
}

.enlace {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #037bc0;
}

/**DIFERENTES ESTILOS PARA ESCRIBIR CSS 
/** Modulos, BEM, SMACC

→→→ DISPLAY INLINE Y BLOCK ←←←

p{
    background-color:red;
    width: 500px;
    height: 100px;
}

//se agrega el →display: block; para que el enlace se comvierte el parrafo 
→NOTA → a un inlane no se le puede aplicar un width y un height
a{
    background-color:red;
    width: 500px;
    height: 100px;
    display: block;
}
/**Box Model

.sobre-nosotros {
    background-color: red;
    width:200px;
    padding: 25px; 
    box-sizing: border-box;
}
*/

